---
layout: layouts/base.njk

---

{% slottedComponent './components/postPlatform.vue', postUrl=page.url  %}

  {{content | safe}}
   

{% endslottedComponent %}

{% set postDat %}
[
{% for post in collections.posts %}
{"title": "{{post.title | safe}}", 
  "url": "{{post.url}}", 
  "excerpt": "{{post.excerpt | safe}}", 
  "feature_image": "{{post.feature_image}}",
  "tags":[ {% for tag in post.tags %}
    "{{tag}}" 
    {% if not loop.last %},{% endif %}
  {% endfor %}]}
{% if not loop.last %}
,
{% endif %}
{% endfor %}
]
{% endset %}



{% component 'components/postsGrid.vue', posts=postDat, hydrate="lazy" %}

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js" integrity="sha512-/Swpp6aCQ0smuZ+zpklJqMClcUlvxhpLf9aAcM7JjJrj2waCU4dikm3biOtMVAflOOeniW9qzaNXNrbOAOWFCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>