---
title: JacobMilhorn.com
layout: layouts/base.njk
---





{% component 'components/welcomeMat.vue'%}


{% slottedComponent 'components/section.vue' %}
    {% component 'components/postsGrid.vue', posts=collections.posts %}
{% endslottedComponent %}